::-webkit-input-placeholder {
	color: #d5dc99;
	font-variant: small-caps;
	padding-left: 10px;
	font-size: 16px;
	font-family: Myriad Pro, sans-serif;
	font-stretch: expanded;
}

.wrapper{
	width: 100%;
	height: 731px;
	position: absolute;
	background: url(../img/most_main.png);
	margin-top: 37px;
}

.block{
  	background-color: #99739e;
  	box-shadow: 8px 5px 3px 1px #000;
  	position: absolute;
  	top: 100px;
  	width: 1349px;
  	height: 230px;
  	opacity: 0.15;
}

.content{
	position:absolute;
	height: 230px;
	width: 700px;
	top: 100px;
	left: 372px;
	color: #dcdf98;
	font-family: Myriad Pro, sans-serif;
}

.info_1{
	width: 100%;
	font-size: 70px;
	padding-top: 25px;
}

.info_2{
	width: 100%;
	font-size: 17px;
}

.block_with_form{
	width: 100%;
	height: 118px;
}

form{
	padding-top: 30px;
	color: #cdd47b;
}

.block_with_form p{
	display: inline-block;
	 
}


.n_e_t{
	border: 1px solid #cdd47b;
	background-color: transparent;
	border-radius: 6px;
	height: 30px;

}

.f_name input{
	width: 125px;
	margin-right: 13px;
}

.f_email input{
	width: 162px;
	margin-right: 5px;
}

.f_tel input{
	width: 132px; 
	margin-right: 5px;
	border: 10px solid #cdd47b;
	border-radius: 15px;
}

.f_button input{
	width: 175px;
	height: 30px;
	background: #58a856;
	color: white;
	border: none;
	border-radius: 6px;
	font-family: Myriad Pro, sans-serif;
	font-variant: small-caps;
	font-size: 18px;
}

.f_button input:hover{
	background: #3f873d;
	font-weight: bold;
	border: 1px solid white;
}
	

